*{
    margin: 0.2rem;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    position: relative;
    top: 25%;
    color: aliceblue;
}
.block{
    
    background-color: grey;
    height: 13vh;
    
}
.block2{
    
    
    height: 40vh;
    
}
.block21{
    float:left ;
    display:inline-block ;
    width:49% ;
    height:38vh ;
    background-color:grey;
}
.block22{
    float:right ;
    width:49%;
    height:38vh ;
    display:inline-block ;
    
    

}
.block221,.block222{
    height:50%;
    width:99%;
    top: 0;
    background-color:grey;
    
}


