*{
    box-sizing: border-box;
    margin: 0;
    padding:0 ;
}
.container{
    display:grid ;
    height:100vh ;
    width:100vw ;
    grid-template-rows: 8% 8% 48% 8% 8% 8%;
    grid-template-columns: 80%;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.box{
    border:3px solid red ;
    border-radius: 0.5rem;

}
@media only screen and ( min-width:500px){
    
    .container{
    grid-template-columns: 15% 80%;
    grid-template-rows: 8% 8% 68% 8%;
    justify-content: space-evenly;
    align-content: space-evenly;
    }
    #box-1, #box-2{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #box-4{
        grid-column-start: 1;
        grid-column-end: 2; 
        grid-row-start: 3;
        grid-row-end: 4; 
    }
    #box-3{
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 3;
        grid-row-end: 4; 
    }
}
@media only screen and ( min-width:800px){
    .container{
        grid-template-columns: 15% 65% 15%;
        grid-template-rows: 8% 8% 68% 8%;
        justify-content: space-evenly;
        align-content: space-evenly;
        } 
        #box-1{
            grid-column-start: 1;
            grid-column-end: 4;   
        }
        #box-2{
            grid-column-start: 2;
            grid-column-end: 3;   
        }
        #box-6{
            grid-column-start: 1;
            grid-column-end: 4;   
        }
        #box-4,#box-5{
            grid-row-start: 2;
            grid-row-end: 4;  
        }
   
}
