*{
    box-sizing: border-box;
    margin:0 ;
    padding:0 ;
}
.orange{
    background-color: rgb(236, 158, 14);
}
.global{
    width:100vw ;
    height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height:90% ;
    width:30% ;
    gap:0.5px ;
}
.box{
    border:2px solid black ;
    display: flex;
    justify-content: center;
    align-items: center;  
    box-shadow: 0 0 0 0.5px black;
    font-size: 1.5rem;
    font-family: sans-serif;
}
#box-1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#box-16{
    grid-column-start: 1;
    grid-column-end: 4;
}
.boxscreen{
    box-shadow: 0 0 0 0.5px black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: black;
    color:aliceblue ;
    display: grid;
    align-items: end;
    justify-items: end;
    color: rgb(172, 172, 172);
}
h1{
    margin:0.5rem ;
}